<div>
  <div>
    <div>
      <span>Agrobot Logo</span>
      <h1>UBC Agrobot</h1>
    </div>

    <div>
      <a href="https://www.linkedin.com/company/ubc-agrobot/"
        >Agrobot LinkedIn</a
      >
      <a href="https://instagram.com/ubcagrobot">Agrobot Instagram</a>
    </div>

    <div>
      <a href="mailto:ubcagrobot@gmail.com">ubcagrobot@gmail.com</a>
    </div>
  </div>

  <div>
    <p>&copy; 2025 UBC Agrobot</p>
  </div>
</div>
