<!-- Footer Container -->
<div class="footer-container">
  <div class="footer-main-body">
    <!-- Logo + Title -->
    <div class="footer-brand">
      <span class="logo">Agrobot Logo</span>
      <h1>UBC Agrobot</h1>
    </div>

    <!-- Social Links Nagivation -->
    <div class="footer-socials">
      <!-- Linkedin Profile -->
      <a href="https://www.linkedin.com/company/ubc-agrobot/" target="_blank">
        Agrobot LinkedIn
      </a>
      <!-- Instagram Profile -->
      <a href="https://instagram.com/ubcagrobot" target="_blank">
        Agrobot Instagram
      </a>
    </div>

    <!-- Contact Email -->
    <div class="footer-contact">
      <!-- Email link -->
      <a href="mailto:ubcagrobot@gmail.com">ubcagrobot@gmail.com</a>
    </div>
  </div>

  <!-- Copyright -->
  <div>
    <p>&copy; 2025 UBC Agrobot</p>
  </div>
</div>
