<div class="flex w-full flex-col items-center gap-12 px-6">
  <div class="flex w-full max-w-5xl flex-col justify-center text-center">
    <h1 class="text-5xl">What we offer</h1>

    <p class="text-2xl leading-relaxed">
      We provide a space where students can develop real robotics experience,
      collaborate <br /> across disciplines, and work on meaningful projects that
      support sustainable agriculture.
    </p>
  </div>

  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
    <div class="aspect-[3/4] overflow-hidden rounded-[3rem] bg-[#f4f4f4]">
      <img
        src="/what-we-offer-1.jpg"
        alt="1"
        class="h-full w-full object-cover"
      />
    </div>
    <div class="aspect-[3/4] overflow-hidden rounded-[3rem] bg-[#f4f4f4]">
      <img
        src="/what-we-offer-2.jpg"
        alt="1"
        class="h-full w-full object-cover"
      />
    </div>
    <div class="aspect-[3/4] overflow-hidden rounded-[3rem] bg-[#f4f4f4]">
      <img
        src="/what-we-offer-3.jpg"
        alt="1"
        class="h-full w-full object-cover"
      />
    </div>
    <div class="aspect-[3/4] overflow-hidden rounded-[3rem] bg-[#f4f4f4]">
      <img
        src="/what-we-offer-4.jpg"
        alt="1"
        class="h-full w-full object-cover"
      />
    </div>
  </div>
</div>
