<!-- Main Container for hero section of Agrobot Page -->
<div class="flex flex-row items-center justify-between gap-16">
  <!-- Container for Hero Section Image -->
  <div class="max-w-[551px]">
    <img
      src="/hero-section-temp.jpg"
      alt="Agrbot Hero Section"
      class="h-auto w-full rounded-[3rem] object-cover"
    />
  </div>

  <!-- Container for Hero section text -->
  <div class="flex flex-col">
    <h1 class="mb-5 text-5xl">
      Technology that powers the future of agriculture
    </h1>

    <p class="max-w-2xl text-2xl">Modern tools for modern farms</p>
  </div>
</div>
