<!-- Agroponics Introduction Section -->
<div class="flex flex-col gap-6">
  <!-- Agroponics Image Container -->
  <div class="h-[410px] max-w-[910px]">
    <img
      src="/hero-section-temp.jpg"
      alt="Agrobot Project"
      class="h-full w-full rounded-[3rem] object-cover"
    />
  </div>

  <!-- Agroponics Text Content -->
  <div class="flex flex-col gap-6">
    <!-- Agroponics Section Heading -->
    <h1 class="text-5xl">Introducing, Agroponics!</h1>

    <!-- Agroponics Description -->
    <p class="text-2xl">
      Agroponics combines IoT automation, structural engineering, and plant
      research to build optimized hydroponic environments. Through smart
      monitoring and controlled nutrient delivery, the team reduces the amount
      of resource consumption without compromising crop quality or yield.
    </p>
  </div>
</div>
