<!-- Section for getting involved with Agrobot -->
<div class="flex flex-col items-center gap-10">
  <!-- Main heading -->
  <h1 class="text-5xl">Get Involved with Agrobot</h1>

  <!-- Container for action buttons -->
  <div class="flex flex-row gap-24">
    <button
      class="rounded-full bg-gray-100 px-24 py-4 text-xl hover:cursor-pointer"
      >Join the team</button
    >
    <button
      class="rounded-full bg-gray-100 px-24 py-4 text-xl hover:cursor-pointer"
      >Sponsor us</button
    >
  </div>
</div>
