<div class="m-4 flex rounded-xl bg-gray-100 p-6 shadow-md">
  <div class="w-3/4 space-y-2 text-center">
    <h2 class="mb-4 text-2xl font-bold"><slot name="name" /></h2>
    <p class="text-gray-600"><slot name="description" /></p>
  </div>
  <div class="flex w-1/4 items-center justify-center">
    <slot name="imgSrc" />
  </div>
</div>
