---
const { quote, author } = Astro.props;
---

<div>
  <p>
    “I joined to learn about sensors, but I stayed because of the team. We all
    share this goal of building something that could really help farmers one
    day.”
  </p>

  <p>Miguel Santos, Electrical Subteam</p>
</div>
