---
const { quote, author } = Astro.props;
---

<!-- Testimonial Card -->
<div class="testimonial-card">
  <p class="testimonial-quote">
    {quote}
  </p>

  <p class="testimonial-author">
    {author}
  </p>
</div>
