---
const { quote, author } = Astro.props;
---

<div
  class="flex flex-1 flex-col justify-between gap-8 rounded-3xl bg-gray-100 p-8"
>
  <p class="text-xl leading-relaxed">"{quote}"</p>
  <p class="text-lg">- {author}</p>
</div>
