<div class="flex h-full w-full flex-col gap-6">
  <h1 class="text-5xl">Agrobot</h1>

  <div class="flex flex-row gap-8">
    <div class="flex flex-col gap-7 text-2xl">
      <p>
        Agrobot is an autonomous agricultural robot designed to perform precise
        weeding and collect crop data in real time. With automation and machine
        vision, it helps growers make smarter, informed decisions.
      </p>
      <p>
        Behind Agrobot is a diverse team of engineers and designers working
        across hardware, software, and field testing. Their coordinated work
        ensures Agrobot is adaptable and ready to support real farming needs.
      </p>
    </div>

    <!-- Project Image -->
    <div class="max-w-[500px]">
      <img
        src="/hero-section-temp.jpg"
        alt="Agrobot Project"
        class="h-auto w-full rounded-[3rem] object-cover"
      />
    </div>
  </div>
</div>
