<div class="project-container project-agrobot">
  <!-- Project Title -->
  <h1 class="project-title">Agrobot</h1>

  <!-- Project Content: Description & Image -->
  <div class="project-content">
    <!-- Project Content -->
    <div class="project-description">
      <p>
        Agrobot is an autonomous agricultural robot designed to perform precise
        weeding and collect crop data in real time. With automation and machine
        vision, it helps growers make smarter, informed decisions.
      </p>
      <p>
        Behind Agrobot is a diverse team of engineers and designers working
        across hardware, software, and field testing. Their coordinated work
        ensures Agrobot is adaptable and ready to support real farming needs.
      </p>
    </div>

    <!-- Project Image -->
    <div class="project-image">
      <!-- Picture Associated with Agrobot -->
    </div>
  </div>
</div>
