<!-- What's Next Section -->
<div class="flex h-full w-full flex-col items-center gap-6">
  <!-- Section Heading -->
  <h1 class="text-5xl">What's next for Agrobot?</h1>

  <!-- Section Description -->
  <p class="w-full max-w-2xl text-center text-2xl">
    Agrobot is just the first step. Introducing the next piece of our autonomous
    agriculture system.
  </p>
</div>
