---
const {
  title = "Why be a part of Agrobot?",
  description = "Join UBC Agrobot and become part of a team dedicated to shaping the future of sustainable agriculture, where you can bring the theoretical knowledge you learn in class to life through hands-on, real-world projects. With opportunities across robotics, AI, mechatronics, navigation, electrical systems, hydroponics, automation, and more, you’ll work on innovations that reduce environmental impact, boost productivity, and advance precision farming. As you contribute to these projects, you’ll gain practical experience collaborating with students from a wide range of disciplines. It’s a chance to solve real agricultural challenges, deepen your skills, and help build the future of smarter, more sustainable farming.",
} = Astro.props;
---

<div class="mx-auto bg-white px-4 py-16 text-center sm:px-6 sm:py-24 lg:px-8">
  <h2 class="text-3xl tracking-tight">
    {title}
  </h2>
  <p class="mt-4">
    {description}
  </p>
</div>
