---
import Layout from "../layouts/Layout.astro";
import AboutOurStory from "../components/blocks/AboutOurStory.astro";
---

<Layout>
  <main class="flex min-h-screen w-full flex-col items-center gap-24 px-6 py-8">
    <div class="mb-10 w-full max-w-7xl">
      <AboutOurStory />
    </div>
  </main>
</Layout>
