---
import Layout from "../layouts/Layout.astro";
import LetsGrowSomething from "../components/blocks/LetsGrowSomething.astro";
import PreferAnotherWay from "../components/blocks/PreferAnotherWay.astro";
---

<Layout>
  <main
    class="flex min-h-screen w-full flex-col items-center gap-24 px-6 py-20"
  >
    <div class="flex w-full max-w-6xl flex-col gap-24">
      <LetsGrowSomething />
      <PreferAnotherWay />
    </div>
  </main>
</Layout>
