---
import Layout from "../layouts/Layout.astro";
import ScrollingBlock from "../components/blocks/sponsors/ScrollingBlock.astro";
import OurValuedPartners from "../components/blocks/sponsors/OurValuedPartners.astro";
import SupportPossible from "../components/blocks/sponsors/SupportPossible.astro";
import EmpowerFuture from "../components/blocks/sponsors/EmpowerFuture.astro";
---

<Layout>
  <main class="flex min-h-screen w-full flex-col items-center gap-24 px-6 py-8">
    <div class="mb-10 w-full max-w-7xl space-y-32">
      <ScrollingBlock />
      <OurValuedPartners />
      <SupportPossible />
      <EmpowerFuture />
    </div>
  </main>
</Layout>
