<div class="flex flex-col items-center justify-center gap-12">
  <div class="flex flex-col items-center justify-center gap-4">
    <h1 class="text-5xl tracking-tight">
      Empower the Future of Agricultural Robotics
    </h1>

    <p class="text-2xl leading-relaxed">
      You help turn ideas into reality, and we can't thank you enough.
    </p>
  </div>

  <button
    class="rounded-full bg-[#3F65D8] px-24 py-4 text-xl text-white hover:cursor-pointer"
  >
    Sponsor us
  </button>
</div>
